**/obj/*
**/bin/*
**.suo
**.ncrunchsolution.user
**/.vscode/*
**/.vs/*
**/.ionide/*

*.aux
*.log
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.sav
*.run.xml
*.synctex*
**/Thesis/**/*.pdf
**/Thesis/**/*.toc
**/Thesis/**/*.out
**/Thesis/**/*.pyg
**/Thesis/_minted-main/*

*.code-workspace