**/obj/*
**/bin/*
**.suo
**.ncrunchsolution.user
**/.vscode/*
**/.vs/*
**/.ionide/*

*.aux
*.log
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.sav
*.run.xml
*.synctex*
/src/**/*.pdf
/src/**/*.toc
/src/**/*.out
/src/**/*.pyg
src/Thesis/_minted-main/*

*.code-workspace